<div id="header" class= "col-md-6 col-md-offset-3 text-center">
<h1>Styles</h1>
<form class="form-inline">
  <div class="form-group">
  <input type="text" style="display: inline" class="input-small form-control" placeholder="Zip Code">
  <button type="button" style="display: inline" class="btn btn-info btn-sm">Search</button>
  </div>
</form>

<div id="initial-button" class="col-md-12" >
<%= button_to 'Find Stylist Near You',shops_path, method: :get, class:"btn btn-primary" %>
</div>
</div>
