<h1> Barber Shops name here</h1>


<!-- barber shop name will go here -->

  <% @barbers.each do |b| %>
   <%= link_to b.name, barber_path(b), class: "barber_name"%> <br>
  <% end %>

  <%= link_to "Are you a Barber?", new_barber_path, class: "barber_register" %>
