<h1>Style</h1>


<div class:"barber_name"> <%= @barber.name %> </div>
<div class:"barber_instagram"> <%= @barber.instagram %> </div>
<div class:"barber_phone"> <%= @barber.phone %>
<div class:"barber_photo"> <%= @barber.photo %>
