/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


  body {
    height: 100%;
    background: url(http://wallpaperswide.com/download/light_background-wallpaper-1280x720.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h1 {
    color: #202020;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    line-height: 160px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 40px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
  }
  a .directions {
    color: black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  #directions {
    color: black;
  }

  a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }

   /*search page styles*/
  .info-name {
    color: black;
  }

  #useless{
    height: 100%;
    padding-top: 18em;
    background: url(http://i.imgur.com/wIfeNK3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #initial-button {
    margin-top: 30px;
    text-align: center;
  }

  /*barber show styles*/

  .profile-container {
    background: rgba(24, 24, 24, 0.3);
    padding-top: 55px;
    padding-top: 11em;
  }

  .left-container{
      background: rgba(13, 12, 12, 0.8);
      text-align: center;
      padding-bottom: 40px;

   }

   .profile-info {
     margin: 25px;
     color: white;
   }

   .profile-pic img {
     margin: 25px;
     border-radius: 50%;
     border: solid black 5px;
   }

   .stats {
     color: white;
   }

  /*shops show*/

  .barbers {
    margin-top: 10em;
    background: rgba(13, 12, 12, 0.3);
  }

.shop-name {
  line-height: 1;
  padding-bottom: 55px;
}
